// Font Family
$main-font: 'Satoshi';
$sub-font: 'ClashDisplay';
$magnita: 'Magnita';
$bootstrapFont: 'bootstrap-icons';

// Color Settings
$text-color: rgba(0,0,0,0.7);
$text-dark: #000;
$text-white: #fff;
$heading: #2B2B2B;
$color-one: #4BEDDB;
$color-two: #012D50;
$color-three:#012D50;
$color-four: #E6FD5A;
$color-five: #0E3E2F;
$color-six: #DFFF5E;
$color-seven: #044F3B;
$color-eight: #1F5E59;
$light-bg-one: #EBF3EE;
$light-bg-two: #EDF1EE;
$cyan: #DCEFF0;
